<div class="project-detail">
  <button class="project-detail__return" md-button routerLink="/projects">return to projects</button>
  <form class="project-detail__form" [formGroup]="projectForm" novalidate (ngSubmit)="updateProject(project)">
    <md-list>
      <md-list-item>
        <h3 md-line>write a name:</h3>
        <md-input-container class="project-form__name">
          <input mdInput formControlName="name">
        </md-input-container>
      </md-list-item>

      <md-divider></md-divider>

      <md-list-item>
        <h3 md-line>select framework:</h3>
        <md-select class="project-creator__select" formControlName="framework">
          <md-option *ngFor="let framework of frameworks" [value]="framework"> {{ framework }} </md-option>
        </md-select>
      </md-list-item>
      <md-divider></md-divider>

      <h3 md-subheader>Options:</h3>
      <md-list-item>

        <h3 md-line>select task runner:</h3>

        <md-select class="project-options__taskRunner" formControlName="taskrunner">
          <md-option *ngFor="let taskrunner of taskrunners" [value]="taskrunner"> {{ taskrunner }} </md-option>
        </md-select>
      </md-list-item>

      <md-divider></md-divider>
    </md-list>

    <button md-button type="submit" class="project-form__submit">Save</button>
  </form>
  <!--<p>Form value: {{ projectForm.value | json }}</p>-->
  <!--<p>Form status: {{ projectForm.status | json }}</p>-->
</div>
<preloader *ngIf="!project"></preloader>
