<div *ngIf="project" class="project-detail">
  <button class="project-detail__return" md-button routerLink="/projects">return to projects</button>
  <form class="project-detail__form" [formGroup]="projectForm" novalidate (ngSubmit)="updateProject(project)">
    <md-input-container class="project-form__name">
      <input mdInput formControlName="name" placeholder="name">
    </md-input-container>
    <md-select class="project-creator__select" formControlName="framework" placeholder="select framework">
      <md-option *ngFor="let framework of frameworks" [value]="framework"> {{ framework }} </md-option>
    </md-select>
    <div class="project-form__options">options:
      <md-select class="project-options__taskRunner" formControlName="taskrunner" placeholder="select task runner">
        <md-option *ngFor="let taskrunner of taskrunners" [value]="taskrunner"> {{ taskrunner }} </md-option>
      </md-select>

      <div class="project-options__libs">libs:
        <div class="options-libs__lib-item" *ngFor="let lib of options.libs">{{lib}}</div>
      </div>
    </div>
    <button md-button type="submit" class="project-form__submit">Save</button>
  </form>
  <p>Form value: {{ projectForm.value | json }}</p>
  <p>Form status: {{ projectForm.status | json }}</p>
</div>