md-sidenav-container{ 
  width: 100%; 
  height: calc(100% - 64px); 
} 

.project-image.mat-card-image{
    margin: 0;
}
.example-card{
    width: 256px;
    padding: 10px;
    margin: 10px;
}
.project-image{
    width: 256px;
    height: 256px;
}
.projects{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.example-fill-remaining-space{
    flex: 1 1 auto;
}
.project-image.mat-card-image:first-child{
    width: 100%;
    margin: 0
}