<app-topbar [user]="user$ | async" (onLogout)="logout()"></app-topbar>

<md-sidenav-container class="example-container">
  <app-sidebar></app-sidebar>

  <div class="projects">
    <md-card class="example-card" *ngFor="let project of projects$ | async">
      <md-card-header>
        <md-card-title>name: {{project.name}}</md-card-title>
        <md-card-subtitle>framework: {{project.framework}}</md-card-subtitle>
        <span class="example-fill-remaining-space"></span>
        <button (click)="removeProject(project.name)" md-mini-fab><md-icon>close</md-icon></button>
      </md-card-header>
      <div class="card-image">
        <img md-card-image class="project-image" src="{{urls[project.framework]}}">
      </div>
      <md-card-actions>
        <button md-button (click)="viewDetail(project.name)">VIEW DETAIL</button>
        <button md-button (click)="generateProject(project.name)">GENERATE</button>
      </md-card-actions>
    </md-card>
  </div>

</md-sidenav-container>