<app-topbar></app-topbar>
<md-sidenav-container class="example-container">
  <md-sidenav #sidenav mode="side" opened="true">
    <md-list class="list">
      <md-list-item class="list-header"> Projects </md-list-item>
      <md-list-item *ngFor="let item of getProjectNames()">
        <button md-button class="list-item__button">{{item}}</button>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <app-main>
    <router-outlet></router-outlet>
  </app-main>

  <app-footer></app-footer>

</md-sidenav-container>