<app-topbar></app-topbar>
<md-sidenav-container class="example-container">
  <md-sidenav #sidenav mode="side" opened="true">
    <md-list class="list">
      <md-list-item class="list-header"> Projects </md-list-item>
      <md-list-item *ngFor="let project of observableProjects|async">
        <button md-button (click)="setCurrentProject(project.name)" class="list-item__button">{{project.name}}</button>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <app-create-project-button [projects]="projects"></app-create-project-button>

  <router-outlet></router-outlet>

</md-sidenav-container>