md-sidenav-container{ 
  width: 100%; 
  height: calc(100% - 64px); 
} 
/*md-list.list.mat-list md-list-item.list-header.mat-list-item>div.mat-list-item-content.mat-ripple{
  display: flex;
  align-items: center;
}*/
