<app-topbar></app-topbar>

<md-sidenav-container class="example-container">
  <md-sidenav #sidenav mode="side" opened="true">
    <md-list>
      <md-list-item> Pepper </md-list-item>
      <md-list-item> Salt </md-list-item>
      <md-list-item> Paprika </md-list-item>
      <md-list-item> Pepper </md-list-item>
      <md-list-item> Salt </md-list-item>
      <md-list-item> Paprika </md-list-item>
      <md-list-item> Pepper </md-list-item>
      <md-list-item> Salt </md-list-item>
      <md-list-item> Paprika </md-list-item>
    </md-list>
  </md-sidenav>


  <app-main></app-main>
  <app-footer></app-footer>
</md-sidenav-container>